<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
</head>
<body>
    <h1>There are no tasks here :(</h1>
    
    <h3 class="no-task">but you can create one...</h3>
    <div class="container">
        <form method="post" action="/tasks">
            <div class="add-task">
            <label for="task"></label>
            <input type="text" name="task" placeholder="your task here">
            <button id="new-task">+</button>
        </div>
        <div class="task-custom">
            <label for="selectcategory">
            <select name="selectcategory">
                <% for(var i = 0; i < categoriesArr.length; i++){ %>
                 
                    <option>
                        <%= categoriesArr[i] %> 
                            
                       
                            
                </option>
                    
                <% } %>
            </select></label>
        </form>
           
            
        </div>
   
    
</body>
</html>