<%- include ('header'); %>

    <h1>To Do List</h1>

    <form action="/tasks" method="post">
        <input class="todo-input" id="prompt" type="text" name="newItem">
        <button class="todo-button" type="submit" name="button">+</button>
    </form>

    <div class="todo-container">
        <ul class="todo-list">
            <% for (let i=0; i < items.length; i++){ %>
                <div class="todo">
                    <label for="taskCheck">                        
                        <li class="todo todo-item">
                            <input type="checkbox" id="taskCheck">
                            <span>
                                <%= items[i].taskContent %>
                            </span>
                            
                        </li>
                </div>
            <% } %>
    </div>
    </ul>
    <br>
    </div>
    <form action="/tasks/remove" method="post">
        <button style="font-size: 1rem;" formaction="/tasks/remove" type="submit">Empty list</button>
    </form>

    <%- include ('footer'); %>