* {
    box-sizing: border-box;
}

h1, h3 {
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    
}

.add-task, .task-custom {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
.add-task input,  .add-task button {
    background-color: #A3F79E;
    color: black;
    appearance: none;
    border-color: transparent;
    margin: 0.3rem;
    padding: 0.5rem;
    border-style: none;
    padding: 0.5rem;
    
    outline: none;
    
}

.add-task input {
    width: 300px;
}
.add-task button {
    width: 70px;
}
.task-custom button {
    width: 60px;  
    font-size: 0.6rem;
  
    
}


.task-custom select, .task-custom button {
    background-color: #A3F79E;
    color: black;
    outline: none;
    margin: 0.3rem;
    padding: 0.5rem  0.8rem;
    border-style: none;
    padding: 0.5rem;
    
}
.task-custom select {
    width: 240px;
}

.list {
    margin-top: 8rem;
    margin-left: 0;
}


ul {
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-left: 0;
}



.one-task-list {
    margin-top: 2rem;
    margin-left: 5rem;
}


.no-task {
    margin-top: 10rem;
}